body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.top-banner {
    background-image: url("background-image/top-banner.png");
    background-repeat: no-repeat;
}

.flexible-container {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.half-width {
    width: 40%;
    padding: 0 5%;
    margin: 14px;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: rgb(255, 162, 0);
}

.half-width p {
    color: rgb(97, 97, 97);
    line-height: 25px;
}

.half-width h3 {
    font-size: 23px;
}

.anchor-tag {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 40px;
    border-radius: 5px;
    background: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    font-weight: 700;
}

.half-width img {
    width: 100%;
    margin-top: -8px;
}

.my-resume {
    background-image: url(background-image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.my-experiences {
    background-image: url(background-image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

h1.experiences {
    font-size: 45px;
}

.experiences-item {
    width: 35%;
    box-shadow: 10px 10px 40px gray;
    margin: 0 30px;
    padding: 0 35px;
    border-left: 8px solid rgb(255 102 29 / 78%);
}

.blue-border {
    width: 35%;
    box-shadow: 10px 10px 40px gray;
    margin: 0 30px;
    padding: 0 35px;
    border-left: 8px solid rgba(30, 1, 245, 0.78);
}

.experiences-item h1 {
    font-size: 45px;
}

.flexible-container p {
    color: rgb(97, 97, 97);
    line-height: 25px;
}

footer {
    text-align: center;
    color: rgb(97, 97, 97);
    margin-bottom: 20px;
}